@use "src/styles/colors.module";

.defi {
  border-radius: 20px;
  border: 10px solid colors.$palette-green;
  min-height: 873px;
  position: relative;
  padding-top: 444px;
}

.mainImage {
  position: absolute;
  top: -70px;
  left: -10px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-left: 118px;
  padding-right: 118px;

  > div {
    width: 100%;
  }
}

.video {
  border-radius: 10px;
  overflow: hidden;
}

.paragraph {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: colors.$text-secondary;
}

.heading {
  font-size: 42px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 30px;
}

.green {
  color: colors.$palette-green;
}
