@use "src/styles/colors.module";
@use "src/styles/media";

.sloth {
  position: absolute;
  width: 218px;
  top: 180px;
  left: 453px;
  z-index: 3;

  @media screen and (max-width: 1650px){
    top: 164px;
    left: 394px;
    width: 188px;
  }

  @include media.for-desktop {
    top: 131px;
    left: 275px;
    width: 136px;
  }

  @include media.for-tablet {
    top: 117px;
    left: 219px;
    width: 109px;
  }
}

.defi {
  //border-radius: 0 8;
  min-height: 873px;
  position: relative;
  overflow: hidden;

  padding-top: 430px;
  padding-bottom: 100px;
  border-top-right-radius: 330px 80px;

  margin-top: -59px;

  @include media.for-large-desktop {
    min-height: 842px;
    padding-top: 417px;
  }

  @include media.for-desktop {
    min-height: 714px;
    padding-top: 298px;
  }

  @include media.for-desktop {
    min-height: 514px;
    padding-top: 248px;
  }

  @include media.for-mobile {
    padding-top: 234px;
    padding-bottom: 26px;
    margin-top: -75px;
  }

  &:after {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 79px);
    margin-top: 59px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid colors.$palette-green;
    border-radius: 20px;
    z-index: 1;
    pointer-events: none;
  }

  @media screen and (max-width: 1650px) {
    border-top-right-radius: 262px 71px;
    margin-top: -57px;

    &:after {
      margin-top: 51px;
      height: calc(100% - 77px);
    }
  }
}

.mainImage {
  position: absolute;
  top: -31px;
  left: -10px;
  right: 0;
  z-index: 2;
  height: 474px;
  width: auto;

  clip: rect(20px, auto, auto, 10px);

  @media screen and (max-width: 1650px){
    height: 413px;
    top: -21px;
  }

  @include media.for-desktop {
    height: 292px;
    top: 2px;
  }

  @include media.for-tablet {
    height: 235px;
    top: 13px;
  }
}

.content {
  display: grid;
  grid-template-areas: ". text text text text . img img img img img .";
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

  @include media.for-tablet {
    grid-template-areas: ". text text text text text text ." ". img img img img img img .";
    grid-template-columns: repeat(8, 1fr);
    gap: 60px;
  }

  @include media.for-mobile {
    padding: 0 26px;
    grid-template-areas: "text" "img";
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

.text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.container {
  max-width: 500px;
  padding: 10px;
}

.videoRatio {
  grid-area: img;
  overflow: hidden;
  padding: 56.25% 0 0 0;
  position: relative;
  width: 100%;
}

.videoInner {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.thumbnailButton {
  @extend .videoInner;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.thumbnailImage {
  width: 100%;
}

.playIcon {
  height: 42px;
  left: calc(50% - 30px);
  position: absolute;
  top: calc(50% - 21px);
  transition: all 0.3s ease-in-out;
  width: 60px;
}

.video {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.paragraph {
  font-size: 24px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.48px;
  color: colors.$text-secondary;

  @media screen and (max-width: 2250px){
    font-size: 20px;
    line-height: 32px;
  }

  @include media.for-desktop {
    font-size: 16px;
    line-height: 26px;
  }

}

.heading {
  font-size: 68px;
  font-weight: 600;
  line-height: 94px;
  margin-bottom: 30px;

  @media screen and (max-width: 2250px){
    font-size: 48px;
    line-height: 68px;
  }

  @media screen and (max-width: 1650px){
    font-size: 34px;
    line-height: 52px;
  }
}

.green {
  color: colors.$palette-green;
}


