@use "src/styles/media";

.burning {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  min-height: 350px;
  background-image: url("/images/homepage/lava.webp");
  background-size: cover;
  background-position: right calc(100% + 40px);

  @media screen and (max-width: 1920px){
    background-position: right bottom;
  }

  @include media.for-mobile {
    max-height: 352px;
    background-position: 87% bottom;
  }
}

.text {
  position: absolute;
  display: grid;
  gap: 12px;
  top: 40px;
  left: 40px
}

.heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;

  @include media.for-tablet() {
    font-size: 16px;
    line-height: 26px;
  }
}

.subheading {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;

  @include media.for-tablet() {
    font-size: 22px;
    line-height: 26px;
  }
}
