@use "src/styles/media";

.bridge {
  border-radius: 20px;
  overflow: hidden;
  background-image: url("/images/homepage/bg-bridge.png");
  padding-top: 100px;
  position: relative;

  @include media.for-mobile {
    padding-top: 60px;
  }
}

.heading {
  margin-bottom: 30px;
  color: #FFF;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  line-height: 62px;

  @include media.for-large-desktop {
    font-size: 34px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.68px;
  }

  @include media.for-tablet {
    font-size: 28px;
    line-height: 44px;
  }
}

.topText {
  padding: 0 17px;
}

.subheading {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  max-width: 800px;
  margin: 0 auto;

  @include media.for-desktop {
    font-size: 16px;
    line-height: 26px;
    max-width: 695px;
  }
}

.centerImage {
  display: flex;
  justify-content: center;
  width: 528px;
  height: 524px;
  position: relative;
  margin: 139px auto 71px;

  @include media.for-desktop {
    margin-top: 157px;
  }

  @include media.for-tablet {
    margin-top: 34px;
  }

  @include media.for-mobile {
    display: none;
  }

  .inner {
    width: 398px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .outer {
    width: 528px;
    height: 524px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .etc, .eth, .clo, .cube {
    position: absolute;
    width: 40px;
    height: 40px;
  }

  .etc {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .clo {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .cube {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .eth {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .soyLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 89px;
    height: auto;

    transform: translate(-50%, -50%);
  }
}

.flask {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 1px solid #C9FF00;
  position: absolute;
  bottom: 13px;

  &:after {
    content: "";
    height: 91px;
    width: 10px;
    border-left: 1px solid #C9FF00CC;
    border-right: 1px solid #C9FF0080;
    background: #18014B;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.bottomContent {
  background-image: url("/images/homepage/bridge-bottom.png");
  background-size: cover;
  min-height: 863px;
  background-position: top;
  padding-top: 291px;

  @include media.for-large-desktop {
    position: relative;
    top: 30px;
  }

  @include media.for-desktop {
    min-height: 684px;
    padding-top: 210px;
  }

  @include media.for-tablet {
    background-image: url("/images/homepage/bridge-bottom-tablet.png");
    min-height: 339px;
    padding-top: 0;
    margin-bottom: 333px;
    top: 0;
  }

  @include media.for-mobile {
    background-image: none;
    min-height: 0;
    padding-top: 0;
    margin-bottom: 0;
  }

}

.mobileCenter {
  display: none;
  position: relative;

  @include media.for-mobile {
    display: block;
    min-height: 811px;
  }
}

.mobileArmLt {
  position: absolute;
  left: 0;
  top: 60px;
  width: 223px;
}

.mobileArmR {
  position: absolute;
  right: 0;
  top: 284px;
  width: 226px;
}

.mobileArmRb {
  position: absolute;
  right: 0;
  top: 697px;
  width: 223px;

  .arm {
    height: 98px;
  }
}

.ethMob,
.bscMob,
.etcMob,
.cloMob {
  position: absolute;
  width: 50px;
  height: 50px;
}

.bscMob {
  right: 22px;
  top: 24px;
}

.ethMob {
  left: 24px;
  top: 23px;
}

.etcMob {
  right: 38px;
  top: 27px;
}

.cloMob {
  left: 24px;
  top: 23px;
}

.mobileArmLb {
   position: absolute;
   left: 0;
   top: 470px;
  width: 239px;
}

.bottomText {
  padding: 0 17px;
  @include media.for-tablet {
    position: absolute;
    bottom: -59px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 576px;
  }

  @include media.for-mobile {
    bottom: 0;
    left: 0;
    transform: none;
    position: relative;
  }
}

.bottomHeading {
  color: var(--colours-main-light-primary, #FFF);
  text-align: center;
  /* H3/Desktop/Semibold */
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.64px;

  @include media.for-desktop {
    font-size: 28px;
    line-height: 36px;
  }

  @include media.for-tablet {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
  }
}

.bottomParagraph {
  color: var(--colours-main-light-primary, #FFF);
  text-align: center;
  /* 20/Regular */
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  max-width: 800px;
  margin: 30px auto 0;

  @include media.for-desktop {
    font-size: 16px;
    line-height: 26px;
    max-width: 695px;
  }
}

.bottomImg {
  margin-top: 124px;
  display: flex;
  justify-content: center;

  img {
    width: 994px;
  }
}

.armLb,
.armLt,
.armRb,
.armRt {
  position: absolute;
  .arm {
    width: 100%;
    height: 100%;
  }

  @include media.for-tablet {
    display: none;
  }
}

.armLt {
  top: 416px;
  left: 0;
  width: 426px;
  height: 263px;

  @include media.for-desktop {
    left: -180px;
  }
}

.bsc {
  position: absolute;
  right: 28px;
  top: 29px;
}

.dot {
  position: absolute;
  right: 15px;
  top: 20px;
}

.blogo {
  position: absolute;
  bottom: 28px;
  left: 28px;

  width: 40px;
  height: 40px;
}


.armLb {
  width: 352.212px;
  height: 188px;
  left: 0;
  top: 783px;

  @include media.for-desktop {
    left: -180px;
  }
}

.armRt {
  right: 0;
  top: 372px;
  width: 429px;
  height: 134px;

  @include media.for-desktop {
    right: -180px;
  }
}

.armRb {
  top: 783px;
  right: 0;
  width: 426px;
  height: 258px;

  @include media.for-desktop {
    right: -180px;
  }
}

@keyframes glimmer {
  0% {
    color: #8E80A7;
  }

  100% {
    color: #fff;
  }
}

@keyframes scaleStars {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.99);
  }
}

.starItem {
  transform-origin: bottom;
  animation: 1s ease-in-out 0s infinite alternate none running scaleStars;
}

.stars1 {
  position: absolute;
  left: 1492px;
  top: 528px;

  animation: 1s ease-in-out 0s infinite alternate none running glimmer;
}

.stars2 {
  position: absolute;
  left: 39px;
  top: 939px;

  animation: 1s ease-in-out 0s infinite alternate none running glimmer;

  @include media.for-tablet {
    display: none;
  }
}

.rockets {
  display: flex;
  align-items: center;
  gap: 242px;

  position: absolute;
  left: 50%;
  bottom: 100px;

  transform: translateX(-50%);

  @include media.for-desktop {
    gap: 138px;
  }

  @include media.for-mobile {
    justify-content: center;
    bottom: 0;
    position: relative;
    margin: 60px 0;
  }
}

.rocket1,
.rocket2 {
  @include media.for-desktop {
    width: 133px;
  }
}

.rocket1 {
  @include media.for-mobile {
    display: none;
  }
}

.rocket2 {
  animation: 1s ease-in-out 0s infinite alternate none running y-axis-animation;
  @include media.for-mobile {
    width: 181px;
  }
}

@keyframes y-axis-animation {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

//@keyframes glimmer {
//  0% {
//    color:
//  }
//}

.ethText,
.etcText,
.bscText {
  color: var(--colours-main-light-primary, #FFF);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.64px;

  @include media.for-large-desktop {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
  }

  @include media.for-tablet {
    display: none;
  }
}

.etcText {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  left: -40px;
}

.ethText {
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  right: -40px;
}

.bscText {
  //display: inline-block;
  position: absolute;
  //max-width: 200px;
  right: -48px;
  top: 130px;

  @media screen and (max-width: 1500px){
    display: none;
  }
}

.bscTextMob,
.ethTextMob,
.etcTextMob {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  position: absolute;
  color: #fff;
  text-align: center;
}

.bscTextMob {
  top: 117px;
  right: -23px;
}

.etcTextMob {
  top: 119px;
  right: 6px;
}

.ethTextMob {
  top: 119px;
  left: -6px;
}
