@use "src/styles/media";

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;

  @include media.for-large-mobile {
    gap: 4px;
    margin: 16px 0;
  }

  @include media.for-small-mobile {
    margin: 10px 0;
  }
}

.stakingFarming {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include media.for-large-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
  }
}
