@use "src/styles/colors.module";
@use "src/styles/media";

.join {
  border-radius: 20px;
  display: grid;
  grid-template-areas: ". img img img img img . text text text text .";
  grid-template-columns: repeat(12, 1fr);
  background-color: colors.$palette-green;
  padding: 100px 0;

  @include media.for-laptop {
    gap: 20px;
    grid-template-areas:
            ". text text text text text text ."
            ". img img img img img img .";
    grid-template-columns: repeat(8, 1fr);
  }

  @include media.for-small-mobile {
    padding: 60px 16px;
    gap: 20px;
    grid-template-areas:
            "text"
            "img";
    grid-template-columns: 1fr;
  }
}


.empower {

}

.image {
  grid-area: img;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 50%;

  .bg {
    width: 100%;
  }

  @include media.for-laptop {
    margin-top: 34px;
  }
}

.movable {
  position: absolute;
  height: 100%
}

.textBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  grid-area: text;
}

.heading {
  color: #fff;

  font-size: 58px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.16px;

  @include media.for-large-desktop {
    font-size: 42px;
    line-height: 62px;
  }

  @include media.for-desktop {
    font-size: 34px;
    line-height: 52px;
  }

  @include media.for-tablet {
    font-size: 28px;
    line-height: 44px;
  }
}

.green {
  color: colors.$palette-green;
}

.paragraph {
  color: #fff;

  font-size: 24px;
  font-weight: 500;
  line-height: 44px;

  @include media.for-large-desktop {
    font-size: 20px;
    line-height: 32px;
  }

  @include media.for-tablet {
    font-size: 16px;
    line-height: 26px;
  }
}

.buttonBlock {
  margin-top: 10px;
}

.button {
  background: #fff;
  border-radius: 70px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  transition-duration: 0.3s;

  box-shadow: 0 4px 0 0 #588D00;

  &:active {
    box-shadow: 0 0 0 0 #588D00;
    transform: translateY(4px);
  }

  &:hover {
    .icon {
      transform: rotate(-45deg);
    }
  }
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #588D00;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
