@use "src/styles/media";

.farming {
  background-image: url("/images/homepage/staking.png");

  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  padding: 38px;
  position: relative;

  @include media.for-desktop {
    padding: 20px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(153deg, rgba(18, 5, 63, 0.4) 0%, rgba(18, 5, 63, 0) 70%, rgba(18, 5, 63, 0) 100%);
}

.heading {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;

  @include media.for-desktop {
    font-size: 16px;
    line-height: 26px;
  }

  @include media.for-large-mobile {
    margin-bottom: 4px;
  }
}

.content {
  position: relative;
  z-index: 2;
}

.subheading {
  margin-bottom: 44px;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;

  @include media.for-desktop {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  @include media.for-laptop {
    font-size: 22px;
    line-height: 26px;
  }
}

.card {
  padding: 18px;
  border-radius: 10px;
  background: #fff;
  display: grid;

  @include media.for-desktop {
    grid-template-columns: 108px 1fr;
    gap: 0 8px;
    padding: 6px 16px;


    .imageContainer {
      grid-row: span 2;
    }
  }


  img,
  .imagePlaceholderWrapper {
    text-align: center;
    width: 50px;
    height: 50px;

    @include media.for-desktop {
      width: 40px;
      height: 40px;
    }
  }

  .name {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;

     @include media.for-desktop {
       grid-column: 2;
       text-align: left;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .info {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

     @include media.for-desktop {
       grid-column: 2;
       text-align: left;
    }
  }
}

.placeholderFarmTitle {
  display: flex;
  align-items: center;
  height: 32px;
  justify-content: center;

  @include media.for-desktop {
    height: 26px;
    justify-content: flex-start;
  }
}

.placeholderFarmInfo {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media.for-desktop {
    justify-content: flex-start;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @include media.for-large-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media.for-desktop {
    grid-template-columns: 1fr;
    gap: 4px;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;

  @include media.for-desktop {
    gap: 4px;
    margin-bottom: 0;
  }
}
